[main]
gpgcheck={{ fedora_dnf_gpgcheck }}
installonly_limit={{ fedora_dnf_installonly_limit }}
clean_requirements_on_remove={{ fedora_dnf_remove_dependencies }}
fastestmirror={{ fedora_dnf_fastestmirror }}
deltarpm= {{ fedora_dnf_deltarpm }}
max_parallel_downloads={{ fedora_dnf_max_parallel_downloads }}
