[risla]
name=Risla $releasever - $basearch
failovermethod=priority
baseurl={{ risla_repo }}/risla/fedora/releases/$releasever/all/$basearch/os/
enabled=1
metadata_expire=7d
repo_gpgcheck=0
type=rpm
gpgcheck=0
