// {{ ansible_managed }}
lockPref("privacy.sanitize.sanitizeOnShutdown", true);
lockPref("privacy.sanitize.promptOnSanitize", false);
lockPref("browser.shell.checkDefaultBrowser", false);
lockPref("toolkit.telemetry.enabled", false);
lockPref("toolkit.telemetry.prompted", 2);
lockPref("toolkit.telemetry.rejected", true);
