{
  "homepage": "{{ start_page }}",
  "homepage_is_newtabpage": false,
  "distribution": {
     "alternate_shortcut_text": false,
     "oem_bubble": true,
     "chrome_shortcut_icon_index": 0,
     "create_all_shortcuts": true,
     "show_welcome_page": {{ welcome }},
     "system_level": false,
     "verbose_logging": false
  },
  "first_run_tabs": [
     "{{ first_tabs }}"
  ]
}
